{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <h1 class="text-center bold" style="line-height: 3; font-weight: 600">Welcome To Shaka Plagiarism Checker</h1>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="w3-card-2 w-75 p-3 w3-white w3-center mt-3 " style="border-radius:15px; z-index: 1;">
                
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="w3-card-2 w-75 p-3 w3-white w3-center mt-3 " style="border-radius:15px; z-index: 1;">
                
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="w3-card-2 w-75 p-3 w3-center w3-white mt-3 " style="border-radius:15px; z-index: -1;">
                
            </div>
        </div>

    </div>
    

</div>
{% endblock %}